/*Style Layout*/

@media screen{
    html{
        font-size: 4vw;
        font-family: sans-serif;
    }
    header {
        position: fixed;
        width: 100%;
        top: 0;
    }
    main{
        margin-top: 24%;
        padding: 0;
    }
    h2, h3, h4{
        margin: 0;
        padding: 0;
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.2rem;
    }
    address{
        box-shadow: 2px 2px 2px 1px;
        padding-top: 1%;

    }
    a{
        display: inline-block;
        width: .75rem;
        height: .75rem;
    }
    input:required{
        border-width: 3px;
    }
    .toggle-menu{
        display: none;
    }
    .btn-nav{
        margin-right: 1%;
    }
    .show{
        display: inline;
    }
    .show img {
        border-radius: 7pt;
        box-shadow: 2px 2px 2px 1px;
        width: 15%;
    }
    .basic-info{
        margin-top: 1%;
        width: 82%;
        float: right;
        text-align: left;
    }
    .basic-info aside{
        font-size: .5rem;
    }
    .hide{
        display: none;
    }
    .icon{
        width: 7vw;
        height: 7vw;
    }
    .email{
        font-size: .75rem;
    }
    .page-nav{
        display: none;
    }
    #btnMobileMenu{
        float: right;
    }
    .icon {
        width: .75rem;
        height: .75rem;
        margin: .1rem;
    }
    address {
        height: 1rem;
        padding: 0;
    }
}