/*Style Layout*/

@media screen{
    html{
        font-size: 4vw;
        font-family: sans-serif;
    }
    main, h2, h3, h4{
        margin: 0;
        padding: 0;
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.2rem;
    }
    address{
        box-shadow: 2px 2px 2px 1px;
        padding-top: 1%;
    }
    input:required{
        border-width: 3px;
    }
    .toggle-menu{
        display: none;
    }
    .img-btn{
        height: 40px;
        width: 40px;
    }
    .show{
        display: inline;
    }
    .show img {
        border-radius: 7pt;
        box-shadow: 2px 2px 2px 1px;
        width: 15%;
    }
    .basic-info{
        margin-top: 1%;
        width: 82%;
        float: right;
        text-align: left;
    }
    .basic-info aside{
        font-size: .5rem;
    }
    .hide{
        display: none;
    }
    .icon{
        width:5vw;
        height: 5vw;
    }
    .email{
        font-size: .7rem;
    }
    .page-nav{
        display: none;
    }
    #btnMobileMenu{
        float: right;
        top: 0;
    }
}

/*@media screen and (min-width: 500px) {*/
    /*html{*/
        /*font-size: 22px;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 768px){*/
    /*html{*/
        /*font-size: 36px;*/
    /*}*/
    /*.basic-info aside{*/
        /*font-size: .5rem;*/
    /*}*/
}
/*@media screen and (min-width: 1265px) {*/
    /*header {*/
        /*display: flex;*/
        /*justify-content: flex-start;*/
        /*flex-wrap: wrap;*/
        /*border-radius: 6pt;*/
        /*position: fixed;*/
        /*width: 100%;*/
    /*}*/
    /*main {*/
        /*margin-top: 230px;*/
        /*width: 83%;*/
        /*float: right;*/
        /*margin-right: 10px;*/
    /*}*/
    /*.top img {*/
        /*width: 100%;*/
    /*}*/
    /*h2{*/
        /*font-size: 5em;*/
        /*margin: 0;*/
        /*padding: 0;*/
    /*}*/
    /*h3{*/
        /*font-size: 2em;*/
        /*margin-bottom: 2%;*/
        /*line-height: 20%;*/
        /*padding: 0;*/
    /*}*/
    /*address{*/
        /*width: 100%;*/
        /*margin-top: 1%;*/
    /*}*/
    /*.basic-info{*/
        /*margin-left: 1%;*/
    /*}*/
    /*.mobile-menu{*/
        /*display: none;*/
    /*}*/
    /*.show {*/
        /*margin: 0;*/
        /*min-height: 150px;*/
        /*max-height: 150px;*/
        /*max-width: 150px;*/
        /*min-width: 150px;*/
        /*overflow: hidden;*/
    /*}*/

    /*.page-nav {*/
        /*position: fixed;*/
        /*z-index: -1;*/
        /*top: 220px;*/
        /*display: block;*/
        /*width: 14%;*/
        /*padding-top: 10px;*/
        /*height: 100%;*/
        /*border-radius: 6pt;*/
        /*border-right: 2px;*/
        /*border-left: 2px;*/
    /*}*/

/*}*/


/*@media screen and (max-width: 1264px){*/
    /*header {*/
        /*display: flex;*/
        /*justify-content: flex-start;*/
        /*flex-wrap: wrap;*/
        /*border-radius: 6pt;*/
        /*border-bottom: 2px;*/
        /*position: fixed;*/
        /*width: 100%;*/
    /*}*/
    /*main {*/
        /*margin-top: 240px;*/
        /*width: 83%;*/
        /*float: right;*/
        /*margin-right: 10px;*/
    /*}*/
    /*.top img {*/
        /*width: 100%;*/
    /*}*/
    /*h2{*/
        /*font-size: 5em;*/
        /*margin: 0;*/
        /*padding: 0;*/
    /*}*/
    /*h3{*/
        /*font-size: 2em;*/
        /*margin-bottom: 2%;*/
        /*padding: 0;*/
    /*}*/
    /*address{*/
        /*width: 100%;*/
        /*margin-top: 1%;*/
    /*}*/
    /*.basic-info{*/
        /*margin-left: 1%;*/
    /*}*/
    /*.mobile-menu{*/
        /*display: none;*/
    /*}*/
    /*.show {*/
        /*margin: 0;*/
        /*min-height: 150px;*/
        /*max-height: 150px;*/
        /*max-width: 150px;*/
        /*min-width: 150px;*/
        /*overflow: hidden;*/
    /*}*/

    /*.page-nav {*/
        /*position: fixed;*/
        /*z-index: -1;*/
        /*top: 220px;*/
        /*display: block;*/
        /*width: 14%;*/
        /*padding-top: 10px;*/
        /*height: 100%;*/
        /*border-radius: 6pt;*/
        /*border-right: 2px;*/
        /*border-left: 2px;*/
    /*}*/

/*}*/


/*@media screen and (max-width: 600px){*/
    /*body{*/
        /*display: flex;*/
        /*box-sizing: border-box;*/
        /*flex-direction: column;*/
        /*justify-content: flex-start;*/

    /*}*/
    /*header {*/
        /*display: flex;*/
        /*justify-content: flex-start;*/
        /*flex-wrap: wrap;*/
        /*border-radius: 6pt;*/
        /*border-bottom: 2px;*/
        /*width: 100%;*/
        /*position: fixed;*/
    /*}*/

    /*h1{*/
        /*font-size: 25px;*/
    /*}*/
    /*h2{*/
        /*font-size: 20px;*/
        /*display: inline-block;*/
    /*}*/

    /*main{*/
        /*margin-top: 35%;*/
    /*}*/
    /*.page-nav{*/
        /*display: none;*/
    /*}*/

    /*.show{*/
        /*margin: 0;*/
        /*max-width: 50px;*/
        /*max-height: 50px;*/
        /*overflow: hidden;*/
    /*}*/
    /*.show img {*/
        /*max-width: 50px;*/
        /*max-height: 50px;*/
    /*}*/
    /*address{*/
        /*padding-top: 1.5%;*/
        /*padding-bottom: 1.5%;*/
    /*}*/
    /*#btnMobileMenu{*/
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 87%;*/
    /*}*/
    /*.basic-info{*/
        /*width: 70%;*/
        /*margin-left: .5%;*/
    /*}*/
    /*.basic-info aside{*/
        /*font-size: .5rem;*/
    /*}*/
    /*.basic-info h3{*/
        /*font-size:.8rem;*/
    /*}*/
/*}*/