/*Style Layout*/


/*At 500 eventually*/

main{
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
    padding: 0;
}
.toggle-menu{
    display: none;
}
.img-btn{
    height: 40px;
    width: 40px;
}
table tr{
    border-bottom: black;
    border-style: solid;
}
table td{
    padding:10px;
}
@media screen and (min-width: 800px) {
    header {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        border-radius: 6pt;
        border-bottom: 2px solid var(--emph_color);
        position: fixed;
        width: 100%;
    }
    main {
        margin-top: 230px;
        width: 83%;
        float: right;
        margin-right: 10px;
    }
    .top img {
        width: 100%;
    }
    h2{
        font-size: 5em;
        margin: 0;
        padding: 0;
    }
    h3{
        font-size: 2em;
        margin-bottom: 2%;
        line-height: 20%;
        padding: 0;
    }
    address{
        width: 100%;
        margin-top: 1%;
    }
    .basic-info{
        margin-left: 1%;
    }
    .mobile-menu{
        display: none;
    }
    .show {
        margin: 0;
        min-height: 150px;
        max-height: 150px;
        max-width: 150px;
        min-width: 150px;
        overflow: hidden;
        background-color: #cccccc;
    }

    .page-nav {
        position: fixed;
        z-index: -1;
        top: 220px;
        display: block;
        width: 14%;
        padding-top: 10px;
        height: 100%;
        border-radius: 6pt;
        border-right: 2px solid var(--emph_color);
        border-left: 2px solid var(--emph_color);
    }

}

@media screen and (max-width: 300px){
    body{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-start;

    }
    header {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        border-radius: 6pt;
        border-bottom: 2px solid var(--emph_color);
        width: 100%;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 20px;
        display: inline-block;
    }
    .page-nav{
        display: none;
    }

    .show{
        margin: 0;
        max-width: 100px;
        max-height: 100px;
        overflow: hidden;
        background-color: #cccccc;
    }
    .show img {
        max-width: 100px;
        max-height: 100px;
    }
    address{
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        background: green;
    }
    #btnMobileMenu{
        background-color: #00d6b2;
        fill: grey;
        align-self: stretch;
    }
}