#/*.js
*.js.map
#api/**/*.js
Development/
app/js/build/
api/routes.js
app/js/viewScripts/daterange.js
/app/js/viewScripts/login.js
/app/js/viewScripts/logout.js
/app/js/viewScripts/register.js
/app/js/viewScripts/skills.js
/app/js/clientRoutes.js
/app/js/viewScripts/current.js
/app/views/accolades.html
/app/views/login.html
/app/views/logout.html
/app/views/posts.html
/app/views/profileCompetencies.html
/app/views/profilePosts.html
/app/views/profileProjects.html
/app/views/profileRepos.html
/app/views/projects.html
/app/views/register.html
/app/views/skills.html
